{% extends '@TBaronnatLog/logs/list.html.twig' %}

{% set logsContainerId = '#logs' %}
{% block logs %}
    {% if is_granted('ROLE_LOGS_ACCESS') %}
        {% if classes is defined and classes is not empty and user is defined and user is not empty %}
            {% set logs = get_logs_for_user_and_class(user.id, classes, 50) %}
            {% include '@TBaronnatLog/logs/_list.html.twig' with {'logs': logs} %}
        {% endif %}
    {% endif %}
{% endblock %}
