{% extends '@TBaronnatLog/logs/list.html.twig' %}

{% set logsContainerId = '#logs' %}
{% block logs %}
    {% if resource is defined and is_granted('ROLE_LOGS_ACCESS') %}
        {% set logs = get_logs_for_object(resource, 50) %}
        {% include '@TBaronnatLog/logs/_list.html.twig' with {'logs': logs} %}
    {% endif %}
{% endblock %}
