{% extends '@TBaronnatLog/logs/list.html.twig' %}

{% set logsContainerId = '#logs' %}
{% block logs %}

    {% if is_granted('ROLE_LOGS_ACCESS') %}
        {% if logs is defined and logs is not empty %}
            {% include '@TBaronnatLog/logs/_list.html.twig' with {'logs': logs} %}
        {% else %}
            {% set logClasses = logClasses ?? [] %}
            {% if resources is defined and logClasses is defined %}
                {% set logs = get_logs_for_resources(resources, logClasses, 100) %}
                {% include '@TBaronnatLog/logs/_list.html.twig' with {'logs': logs} %}
            {% endif %}
        {% endif %}
    {% endif %}

{% endblock %}
{#resources.data.currentPageResults#}
