<div class="row">
    <div class="col-md-12">
        <div id="logs" class="box box-default collapsed-box u-none">
            {% if logs is not empty %}
            <div class="box-body">
                <table class="table table-logs u-full-width table-striped table-bordered table-responsive--xs table-responsive--sm table-responsive--xsm">
                    <tbody><tr>
                        <th class="first-table-col u-text-xs u-font-weight--600 u-pad-xsm u-pad-b-xs">{{ ('logs.id')|trans({}, 'logs') }}</th>
                        <th class=" u-text-xs u-font-weight--600 u-pad-xsm u-pad-b-xs">{{ ('logs.date')|trans({}, 'logs') }}</th>
                        <th class=" u-text-xs u-font-weight--600 u-pad-xsm u-pad-b-xs">{{ ('logs.action')|trans({}, 'logs') }}</th>
                        <th class=" u-text-xs u-font-weight--600 u-pad-xsm u-pad-b-xs">{{ ('logs.object')|trans({}, 'logs') }}</th>
                        <th class=" u-text-xs u-font-weight--600 u-pad-xsm u-pad-b-xs">{{ ('logs.admin')|trans({}, 'logs') }}</th>
                        <th class=" u-text-xs u-font-weight--600 u-pad-xsm u-pad-b-xs">{{ ('logs.changes')|trans({}, 'logs') }}</th>
                    </tr>
                    {% for log in logs %}
                        <tr class="item">
                            <td class="first-table-col u-text-xxs u-pad-xs u-vertical-align--top u-font-weight-500 u-font-weight--500">
                                <p><span class="u-black u-text-xxs">#{{ log.id }}</span></p>
                            </td>

                            <td class=" u-text-xxs u-pad-xs u-vertical-align--top u-font-weight-500">
                                <p><span class="u-black u-text-xxs">{{ (log.date|date('d/m/Y H:i')) }}</span></p>
                            </td>

                            <td class=" u-text-xxs u-pad-xs u-vertical-align--top u-font-weight-500">
                                <p><span class="u-black u-text-xxs">{{ ('logs.actions.'~log.action)|trans({}, 'logs') }}</span></p>
                            </td>
                            <td class=" u-text-xxs u-pad-xs u-vertical-align--top u-font-weight-500">
                                <p><span class="u-black u-text-xxs u-font-weight--500">{{ ('logs.id')|trans({}, 'logs') }}: </span><span class="u-black u-text-xxs">{{ log.objectId }}</span></p>
                                <p><span class="u-black u-text-xxs u-font-weight--500">{{ ('logs.type')|trans({}, 'logs') }}: </span><span class="u-black u-text-xxs">{{ ((log.objectClass)~'.name')|trans({}, 'logs') }}</span></p>
                                <p><span class="u-black u-text-xxs u-font-weight--500">{{ ('logs.class')|trans({}, 'logs') }}: </span><span class="u-black u-text-xxs">{{ log.objectClass }}</span></p>
                            </td>
                            <td class=" u-text-xxs u-pad-xs u-vertical-align--top u-font-weight-500">
                                <p>
                                    <span class="u-black u-text-xxs u-font-weight--500">{{ ('logs.id')|trans({}, 'logs') }}: </span>
                                    <span class="u-black u-text-xxs">{{ log.creator is not null ? log.creator.id : '-' }}</span>
                                </p>
                                <p>
                                    <span class="u-black u-text-xxs u-font-weight--500">{{ ('logs.label')|trans({}, 'logs') }}: </span>
                                    <span class="u-black u-text-xxs">{{ log.creator is not null ? log.creator.getLabel : '-' }}</span>
                                </p>
                            </td>
                            <td class=" u-text-xxs u-vertical-align--top u-font-weight-500">
                                <pre style="white-space: pre-wrap;" class=" u-marg-xs">{{ log.data }}</pre>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% else %}
                <div class="u-pad-b-md u-pad-l-xs">
                    {{ ('logs.no_logs')|trans({}, 'logs') }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
