{% block content %}
    {% if is_granted('ROLE_LOGS_ACCESS') %}
        <div class="u-bg-white u-pad-t-md u-pad-r-md u-pad-l-md u-border-radius--sm u-marg-t-md">
            <div class="u-flex">
                <h2 class="u-uppercase u-marg-t-0 u-marg-b-md u-text-sm u-font-weight--600">
                    Logs <span class="u-text-xxs">(super administrateur)</span>
                </h2>
                <div class="box-tools u-absolute" style="right: 70px">
                    <i data-show_log="{{ logsContainerId }}" class="bi bi-plus-circle-fill u-text-md u-bold u-cursor-pointer" title="Voir les logs"></i>
                    <i data-hide_log="{{ logsContainerId }}" class="u-none bi bi-dash-circle-fill u-text-md u-bold u-cursor-pointer" title="Masquer les logs"></i>
                </div>
            </div>
            {% block logs %}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
